{% extends 'base.html' %}
{% load static %}
{% block body %}
  <section id="aa-catg-head-banner">
   
   <div class="aa-catg-head-banner-area">
    
     <div class="container">
      <div class="aa-catg-head-banner-content" style="background-color: #32CD32">
        
      </div>
      
     </div>
   </div>
  </section>
  
 <section id="cart-view">

  

  
   <div class="container">
   
  
     <div class="row">
      
       <div class="col-md-12">
       
         <div class="cart-view-area">
          
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in products %}
                         <tr id ="table{{data.product.id}}">
                        
                           <td class="delete"><a class="remove" id="deleteProduct" data-id = "{{data.product.id}}" data-action="{% url 'cart:delete_product' data.id %}"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="{% url 'products:product_detail' data.product.slug %}"><img src="{{data.product.img_mid_url}}" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="{% url 'products:product_detail' data.product.slug %}">{{data.product.title}}</a></td>
                        <td>{{data.product.price}}</td>
                    
                     
                        <td><input name ="quantity" type="number" data-id="{{id}}"  value="{{data.quantity}}" data-action="{% url 'cart:quantity_change' %}" placeholder="1"  style="width: 4em" id="quantity" onclick="changequantity('{{data.product.id}}')"> </td>
                       
                        
                        <td>{{data.get_cost}}</td>
                      </tr>
                      {% endfor %}
             
       
                
                      <tr>
                       
                      </tr>
                      </tbody>
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Cart Totals</h4>
               <table class="aa-totals-table">
                 <tbody id="refreshcontainer">
                   <tr>
                 
                     <th>Subtotal</th>
                     <td>{{total}}</td>
                   </tr>
                   <tr>
                     <th>Total</th>
                     <td>{{total}}</td>
                   </tr>
                 </tbody>
               </table>

               
               <a href="{% url 'order:order_create'  %}" class="aa-cart-view-btn">Proced to Checkout</a>
             </div>
           </div>
                      
         </div>
       
       </div>
   
     </div>
   
   </div>
 
 </section>
<script src="{% static 'js/sellorbuy/cart-quantity.js' %}" type="text/javascript"> </script>
 <script src="{% static 'js/sellorbuy/cart.js' %}" type="text/javascript"></script>
{% endblock body %}