{% extends 'base.html' %}
{% block body %}

     <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
            
             
                <div class="aa-myaccount-register">                 
                 <h2 style="text-align:center;text-color:#1E90FF"> Please verify your email address to complete the registration.</h2>
  
                </div>
              
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock body %}