{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

    

     <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
            
             
                <div class="aa-myaccount-register">                 
                 <h4 style =" text-align: center">We sent you reset password link on your email.
				<br> Please check your email.</h4>
                 
                </div>
              
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock body %}