{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}  
    
   <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
            
             
                <div class="aa-myaccount-register">                 
          
<div class="row">               
                 {% if validlink  %}
                    <div class="text-center" >
                  
                  <h3>Enter your new password</h3>
                  <div class="panel-body">
                    <form id="reset-password" role="form" autocomplete="off" class="form" action="" method="POST">
                        {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group" >
                          <span>New password</span>
                          <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1" style="height: 50px;">
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                        <div class="input-group" style="right:%50;left:%50">
                          <span>New password Confirmation</span>
                          <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2" style="height: 50px;">
                        </div>
                      </div>
                      
                      {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                      {% endif %}
                      <br>
                      <div class="form-group">
                         
                          <button type="submit" class="aa-browse-btn" style ="border-radius: 40px;font-size: 15px;">Change Password</button>                    
                      </div>
                    </form>
                  </div>
                </div>
                  {% else %}
                    <h3>Password reset unsuccessful.</h3>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                  {% endif %}
                </div>



                </div>
              
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock body %}

