{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

    

     <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
            
             
                <div class="aa-myaccount-register">                 
                 <h4 style =" text-align: center">Password Reset</h4>
                 <form id="reset-form" role="form" autocomplete="off"  method="post"class="aa-login-form">
                    {% csrf_token %}
            
        <div class="form-group" >
                        <div class="input-group" >
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input type="email" name="email"  placeholder="email address" class="form-control" autocomplete="email" maxlength="450" required="" id="id_email" style="width:450px; height:50px">
                       
                        </div>
                        
                      </div>  
                        {% if form.errors %}
                            {% for field in form %}
                                {{field.name}}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    <button type="submit" class="aa-browse-btn" style ="border-radius: 40px;font-size: 15px;">Reset Password</button>                    
                  </form>
                </div>
              
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock body %}