{% load static %}

  <header id="aa-header">
    
    <div class="aa-header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-top-area">
             
              <div class="aa-header-top-left">
                
                <div class="aa-language">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <img src="{% static 'img/earth-icon.svg' %}" alt="english flag">
                      {% if request.user.is_authenticated  %}
                     Hi {{request.user.first_name}}
                     
                      {% endif %}
                      <span class="caret"></span>
                    </a>
                  
                  </div>
                </div>
               
                <div class="aa-currency">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="fa fa-usd"></i>USD
                      <span class="caret"></span>
                    </a>
                    
                  </div>
                </div>
                
                <div class="cellphone hidden-xs">
                  <p><span class="fa fa-phone"></span></p>
                </div>
                
              </div>
              
              <div class="aa-header-top-right">
                <ul class="aa-head-top-nav-right">
                       
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile:user' %}">My Account</a></li>
                  <li class="hidden-xs"><a href="{% url 'products:sell_list' %}">Products</a></li>
                  <li class="hidden-xs"><a href="{% url 'products:sell' %}">Sell</a></li>
                  <li class="hidden-xs"><a href="{% url 'customer:wishlist' %}">Wishlist</a></li>
                   <li class="hidden-xs"><a href="{% url 'trackshipping:shipping' %}">Shipping</a></li>
                  <li class="hidden-xs"><a href="{% url 'order:order_create' %}">Checkout</a></li>
                  
                   {% else%}                             
                    <li class="hidden-xs"><a href="{% url 'account:login' %}">Sell</a></li> 
                    {% endif %}
                   
                  
                   <li><a href="" data-toggle="modal" data-target="#login-modal">Sign in</a></li>
                
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="aa-header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-bottom-area">
             
              <div class="aa-logo">
                
                <a href="{% url 'account:home' %}">
                  <span class="fa fa-shopping-cart"></span>
                  <p style="color:#1E90FF">Sell<strong>or</strong><strong style="color:#32CD32">Buy</strong> <span>Your Shopping Partner</span></p>
                </a>
                
              </div>
             
              <div class="aa-cartbox">
                {% if request.user.is_authenticated %}
                 <a class="aa-cart-link" href="{% url 'cart:cart_list' %}">
                  <span class="fa fa-shopping-basket"></span>
                  <span class="aa-cart-title">SHOPPING CART</span>
                  <span class="aa-cart-notify">1</span>
                </a>
               
                 
                
                {% endif %}
               
                <div class="aa-cartbox-summary">
              
                  <a class="aa-cartbox-checkout aa-primary-btn" href="{% url 'order:order_create' %}">Checkout</a>
                </div>
              </div>
              
              <div class="aa-search-box">
                <form action="{% url 'account:search' %}">
                  <input type="text" name="q" id="" placeholder="Search here">
                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
              </div>
                        
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </header>
  