{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% load render_json_ld from json_ld %}
{% block meta_tags %}
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{WEBSITE_URL}} {{request.path}}" />
<meta property="og:image" content="{{serializer.img_mid_url}}" />
<meta property="og:description" content="{{serializer.description}}" />
<meta property="og:site_name" content="SellorBuy" />
<meta property="og:locale" content="{{LANGUAGE_CODE}}" />
<meta property="twitter:card" content="" />  
<meta property="twitter:site" content="@SellorBuy" />  
<meta property="twitter:creator" content="@" />  
<meta property="twitter:url" content="{{WEBSITE_URL}} {{request.path}}" />
<meta property="twitter:title" content="{{serializer.title}}" />  
<meta property="twitter:description" content="{{serializer.description}}" />  
<meta property="twitter:image" content="{{serializer.img_mid_url}}" />  


{% render_json_ld serializer.structured_data %}
{% endblock  %}

{% block body %}

  <section id="aa-product-details">
    <div class="container">
      <div class="row">
       
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
               

                

                         <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container"><a data-lens-image="{{serializer.image_url}}" class="simpleLens-lens-image"><img src="{{serializer.img_mid_url}}" class="simpleLens-big-image"></a></div>
                      </div>
                      <div class="simpleLens-thumbnails-container">                        
                          <a data-big-image="{{serializer.img_mid_url}}" data-lens-image="{{serializer.image_url}}" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="{{serializer.img_thumbnail_url}}">
                          </a>       
                          {% if serializer.image2 %}
                          <a data-big-image="{{serializer.img2_mid_url}}" data-lens-image="{{serializer.image2_url}}" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="{{serializer.img2_thumbnail_url}}">
                          </a> 
                      
                        {% endif %}      
                        {% if serializer.image3 %}
                        <a data-big-image="{{serializer.img3_mid_url}}" data-lens-image="{{serializer.image3_url}}" class="simpleLens-thumbnail-wrapper" href="#">
                            <img src="{{serializer.img3_thumbnail_url}}">
                          </a>  
                   
                        {% endif %}                      
                               
                            
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                  
               
                
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{serializer.title}}</h3>
                    <div class="aa-price-block">
                      
                      <span class="aa-product-view-price">Price: ${{serializer.price}}</span>
                      <p class="aa-product-avilability">Avilability: <span>{% if serializer.is_active %}
                      In stock
                      {% else %}
                      Sold out
                      {% endif %}</span></p>
                      {% if serializer.size %}
                       <h4>Size</h4>
                         <div class="aa-prod-view-size">
                      <a href="#">S</a>
                      <a href="#">M</a>
                      <a href="#">L</a>
                      <a href="#">XL</a>
                    </div>
                     
                      {% endif %}
                     {% if serializer.color %}
                        <h4>Color</h4>
                    <div class="aa-color-tag">
                      <a href="#" class="aa-color-green"></a>
                      <a href="#" class="aa-color-yellow"></a>
                      <a href="#" class="aa-color-pink"></a>                      
                      <a href="#" class="aa-color-black"></a>
                      <a href="#" class="aa-color-white"></a>                      
                    </div>
                    
                     {% endif %}
                 
                    
                       <span class="aa-product-view-price">Quantity: {{serializer.quantity}}</span>
                       
                    </div>
                    {% if serializer.brand %}
                    
                   Brand: <a>{{serializer.brand}}</a>
                    {% endif %}
                    
                    <div class="aa-prod-quantity">
                  
                 <input name ="quantity" type="number"   placeholder="1"  style="width: 3em" id="quantity"> 
                     
                 
                      <p class="aa-prod-category">
                        Category: <a>{{serializer.category}}</a>
                      
                      </p>
  
                    </div>
                    <span class="aa-product-view-price">Views: {{serializer.views}}</span>
                     <h4 style=" text-transform: capitalize;" ><a href="{% url 'products:seller_products' username %}"> Seller: {{serializer.seller}} </a></h4>
                    <div class="aa-prod-view-bottom" id="shop-action">
                      <a class="aa-add-to-cart-btn" name="id" value="{{serializer.id}}" id="add_cart" data-id="{{serializer.id}}" data-action="{% url 'cart:add_cart' serializer.id %}">Add To Cart</a>
                      <a id="wishlist-add" class="aa-add-to-cart-btn" data-id = "{{serializer.id}}" data-action="{% url 'customer:addlist' serializer.id  %}"><span class="fa fa-heart"></span></a>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">Description</a></li>
                <li><a href="#review" data-toggle="tab">Reviews</a></li>                
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <p>{{serializer.description}}</p>
                  
                </div>
                <div class="tab-pane fade " id="review">
                 <div class="aa-product-review-area">
              
                          <h3>
                            {{reviews|length}}  Review for {{serializer.title}}
                          </h3>
                          
             
                   
                   <ul class="aa-review-nav">

                    
   {% if reviews %}
   
                    {% for review in reviews %}
                         <li id="product-comment{{review.id}}">
                        <div class="media">
                          <div class="media-left">
                            {% if review.user_id.profile.image %}
                            <a href="#">
                              <img class="media-object" src="{{review.user_id.profile.image.url}}" alt="girl image">
                            </a>
                            {% else %}
                            {% endif %}
                            
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><strong style=" text-transform: capitalize;">{{review.user_id.first_name}}  {{review.user_id.last_name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{review.created_at}}</span></h4>
                            <div class="aa-product-rating">
                              {% if review.rating == "4" %}
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                              {% elif review.rating == "5" %}
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              {% elif review.rating == "3" %}
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              {% elif review.rating == "2" %}
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              {% elif review.rating == "1" %}
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              {% endif %}
                              
                            </div>
                            <p>{{review.review}}</p>
                           
                  {% if request.user.username == review.user_id.username %}
             <a id = "delete-comment" data-action="{% url 'products:comment_delete' review.id %}" onclick="deletecomment('{{review.id}}')" data-id="{{review.id}}">Delete</a>
           
                  {% endif %}
                     
                    
                    
                         
                          </div>
                        </div>
                      </li>
                    {% endfor %}
   {% else %}
    There is no review for {{serializer.title}}.
   {% endif %}
                
                   
                   </ul>

                  
{% if request.user.is_authenticated %}

                   
  <form action="{% url 'products:comment'  %}" method="post" data-id="{{serializer.id}}" class="aa-review-form" id="aa-review-form" novalidate>
   <div class="aa-your-rating" id="rating" name="rating">
                     <p>Your Rating</p>
                    <a class="a-rating" href="#1" data-value="1"   value="1" ><span class="fa fa-star-o" ></span></a>
                     <a  class="a-rating" href="#2" data-value="2"  value="2" ><span class="fa fa-star-o"></span></a>
                     <a class="a-rating" href="3" data-value="3"  value="3" ><span class="fa fa-star-o"></span></a>
                     <a class="a-rating" href="#4" data-value="4"  value="4" ><span class="fa fa-star-o"></span></a>
                     <a class="a-rating" href="#5" data-value="5"  value="5"  ><span class="fa fa-star-o"></span></a> 

                   </div>

              <div class="form-group" id="form-comment">
                        <label for="message">Your Review</label>
                        <textarea class="form-control" rows="3" id="message" name="comment_content"></textarea>
                       
                   </div>                          
                                       {% csrf_token %} 
                 <button type="submit" class="btn btn-default aa-review-submit" value="Save" id ="commentsubmit" value="aa-review-form">Submit</button>
                   </form>
                  
                   {% endif %}
        
                 </div>
                </div>            
              </div>
            </div>
            
        
           {% if related_products %} 
           <div class="aa-product-related-item">
              <h3>Related Products</h3>
              <ul class="aa-product-catg aa-related-item-slider">
           {% for product in related_products  %}
       
                <li>
                  <figure>
                    <a class="aa-product-img" href="{{product.url}}"><img src="{{product.img_mid_url}}" alt="{{product.title}}"></a>
                    
                     <figcaption>
                      <h4 class="aa-product-title"><a href="{{product.url}}">{{product.title}}</a></h4>
                      <span class="aa-product-price">{{product.price}}</span><span class="aa-product-price"></span>
                    </figcaption>
                  </figure>                     
                  
                 
                  
                </li> 
                
                          
           {% endfor %}                                                                       
              </ul>
           
            </div>  
        
         {% endif %} 
           
          </div>
        </div>
      </div>
    </div>
  </section>



<script src="{% static 'js/sellorbuy/detail-delete.js' %}" type="text/javascript"> </script> 
 <script src="{% static 'js/sellorbuy/product-comment.js' %}" type="text/javascript"> </script> 
   <script src="{% static 'js/sellorbuy/add_cart.js' %}" type="text/javascript"> </script> 
 <script src="{% static 'js/sellorbuy/wishlist.js' %}" type="text/javascript"> </script>   


{% endblock body %}