{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block body %}

 <section id="aa-catg-head-banner">
  
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content" >
        
      </div>
     </div>
   </div>
  </section>
<br><br>
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
            
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">
               

                {% for product in serializer %}
                <li>
                  <figure>
                    <a class="aa-product-img" href="{{product.url}}"><img src="{{product.img_mid_url}}" alt="{{product.title}}"></a>
                    <a id = "addcart-list{{product.id}}" class="aa-add-card-btn" data-action="{% url 'cart:add_cart' product.id %}" onclick="addcartlist('{{product.id}}')" data-id="{{product.id}}"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                    <figcaption>
                      <h4 class="aa-product-title"><a href="{{product.url}}">{{product.title}}</a></h4>
                      <span class="aa-product-price">{{product.price}}</span><span class="aa-product-price"></span>
                      <p class="aa-product-descrip">{{product.description}}</p>
                    </figcaption>
                  </figure>                         
                  <div class="aa-product-hvr-content" id="shop-action">
                   
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal{{product.id}}"><span class="fa fa-search"></span></a>                            
                  </div>
                  {% if product.status == 'sell' %}
                 
                  <span class="aa-badge aa-sale">Sell</span>
                  {% else %}
                  <span class="aa-badge aa-sold-out">Sold Out!</span>
                  {% endif %}
                    
                </li>                 
                      
                {% endfor %}
                                 
                            
              
               
                                                     
              </ul>
           
             
            </div>
           
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
           
            
                    
        
           
         
         
            <div class="aa-sidebar-widget">
              <h3>Seller</h3>
              <div class="aa-recently-views">
                <ul>
                  
                  
                 
                  <li>
                    <a class="aa-cartbox-img">
                      {% if user.profile.image %}
                       <img alt="img" src="{{user.profile.image.url}}"></a>
                      {% else %}
                       <img alt="img" src="{% static 'img/user.png' %}"></a>
                      {% endif %}
                     
                    <div class="aa-cartbox-info">
              
                      <p style="text-transform: capitalize;">{{user.first_name}} {{user.last_name}} </p> 
                      
                    </div>                    
                  </li>
           
                                                       
                </ul>
              </div>                            
            </div>
          
          
          </aside>
        </div>
       
      </div>
    </div>
  </section>
 
{% endblock  %}