{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<section id="aa-catg-head-banner" >
   
    <div class="aa-catg-head-banner-area" >
     <div class="container" >
      <div class="aa-catg-head-banner-content" >
        
      </div>
     </div>
   </div>
  </section>
 
  <section id="checkout">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="checkout-area">
          <form action="{% url 'order:order_create' %}" method="post">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">
               
         
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Order Details
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                         
                            <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                              {% csrf_token %}


                            {{form|crispy}}     
                             </div>                             
                            </div>                            
                          </div>
                        
                      
                            
                                                         
                        </div>
                      </div>
                    </div>
                
              
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Order Summary</h4>
                  <div class="aa-order-summary-area">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if products %}
                        {% for item in products %}
                        <tr>
                          <td>{{item.product.title}} <strong>x {{item.quantity}}</strong></td>
                          <td>{{item.product.price}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                        
                        
                        
                        
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Subtotal</th>
                          <td>{{cart.total}}</td>
                        </tr>
                        
                         <tr>
                          <th>Total</th>
                          <td>{{cart.total}}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Payment Method</h4>
                  <div class="aa-payment-method">                    
                   
                    
                    <input type="submit" value="Place Order" class="aa-browse-btn">                
                  </div>
                </div>
              </div>
            </div>
          </form>
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock body %}