{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

 <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
   <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet' type='text/css'>

 <section id="aa-catg-head-banner">
   
   <div class="aa-catg-head-banner-area" >
     <div class="container">
      <div class="aa-catg-head-banner-content" style="background-color:#1EBBA3">
      
      </div>
     </div>
   </div>
  </section>

 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table aa-wishlist-table">
             <form action="">
               <div class="table-responsive">          
               
                  

                
                  <table class="table">
                    <thead>
                        <h2 style="text-align:center">Customer information</h2>
                      <tr>
                         
                        <th> Email</th>                        
                        <th>Country</th>
                        <th> City</th>     
                         <th>District</th>                   
                        <th>Zip Code</th>
                        <th>Address</th>
                       <th>Comment</th>
                        
                      </tr>
                    </thead>
                     {% if serializer %}
                   <tbody>
                        
                            <br>  
                     
                       <th>{{serializer.email}}</th>
                       <th>{{serializer.destination_country}}</th>
                        <th>{{serializer.city}}</th>
                        <th>{{serializer.district}} </th>
                        <th>{{serializer.zip_code}}</th>
                        <th>{{serializer.state}},{{serializer.appartment}},{{serializer.address}}</th>
                           <th>{{serializer.comment}}</th>                             
                                                          
                       
                        
                        
                      </tr>
                    

                                       
                      </tbody>
                      
                     
                     
                  </table>
                  <table class="table" id="shippinginformation">
                    <h2 style="text-align:center">Shipping information</h2>
                      <thead>
                        
                      <tr>
                        
                        <th>Carrier Name</th>                        
                        <th>Carrier Code</th>
                        <th> Tracking Number</th>     
                         <th>Event Id</th>                   
                        <th>Status</th>
                        
                       
                        
                      </tr>
                    </thead>
                    
                   <tbody>
                        
                            <br>
  
                     
                       <th>{{serializer.carrier_name}}</th>
                       <th>{{serializer.carrier_code}}</th>
                        <th>{{serializer.tracking_number}}</th>
                        <th>{{serializer.eventId}} </th>
                        <th>{{serializer.status}}</th>
                       
                                                        
                                                          
                       
                        
                        
                      </tr>
                    

                                       
                      </tbody>
                      
                      {% endif %}
                     
                  </table>
               
                </div>
             </form>             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


  <section id="checkout">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="checkout-area">
             <div class="track"> 
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box-open"></i></span> <span class="text">Ready for pickup</span> </div>
            </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 
{% if request.user.username == serializer.sender_shipping.username %}
  <section id="checkout">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="checkout-area">
          <form action="{% url 'trackshipping:add_track_info' serializer.id %}" method="post" id="track-shipping" data-id="serializer.id">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">
               
         
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                           Track Shipping Information
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                         
                            <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                              {% csrf_token %}


                             <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="Carrier Name" class="form-control" name ="carriername" id="carriername">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="Carrier Code" class="form-control" name ="carriercode" id="carriercode">
                        </div>
                      </div>
                    </div>
                                <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="Tracking Number" class="form-control" name ="trackingnumber" id="trackingnumber">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <input type="text" placeholder="EventIId" class="form-control" name ="eventid" id="eventid">
                        </div>
                      </div>
                    </div>      
                     
                   
                    <button type="submit" id = "trackingid"class="aa-browse-btn" style ="width: 100%;border-radius: 40px;font-size: 21px;">Send</button> 
                             </div>                             
                            </div>                            
                          </div>
                        
                      
                            
                                                         
                        </div>
                      </div>
                    </div>
                
              
                  </div>
                </div>
              </div>
  
          </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 
{% endif %}
<script src="{% static 'js/sellorbuy/shipping-detail.js' %}" type="text/javascript"></script>
{% endblock  %}